.door {
  position: relative;
  width: 122px;
  height:270px;
  cursor: pointer;
}

.door-code {
  margin-bottom: 16px;
  color: var(--bg-color);
}

.door-front {
  width: 122px;
  height: 270px;
  overflow: hidden;
  transform-origin: left;
  background-color: var(--bg-color);
  box-shadow: 30px 0 50px rgba(0,0,0,0.2);
  position: absolute;
  z-index:1;
  transition: .5s;
}

.door-front:before {
  content:"";
  position: absolute;
  width: 98px;
  height: 246px;
  border: 2px ridge gray;
  left: 10px;
  top: 10px;
}


.knob {
  position: absolute;
  width: 10px;
  height:30px;
  background-color: #b9722d ;
  top:122px;
  left:105px;
  border-radius:2px;
}

.knob:before {
  content:"";
  position: absolute;
  border-radius:50%;
  background-color: #cd7f32;
  width:9px;
  height:9px;
  left:-1px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.knob:after {
  content:"";
  position: absolute;
  width:4px;
  height:7px;
  background-color: #333;
  top:20px;
  left:3px;
}

.door:hover .door-front {
  transform: rotateY(-160deg);
}

.door:hover .door-front:before {
  background-color: #C19A6C;
  border-color: transparent;
}

.door-back {
  position: relative;
  background: linear-gradient(0deg, rgba(193,124,116,1) 13%, rgba(73,88,103,1) 13%, #A9C3C5 15%, #A9C3C5 15%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 10px solid #edf2f4;
}


